In [1]:
import pandas as pd
import numpy as np

In [2]:
data2 = pd.read_excel('DDW-C18-0000.xlsx')

In [3]:
new_col = ['state','District','Area','Total','Age','S_persons','S_males','S_females','T_persons','T_males','T_females']

In [4]:
data2.columns = new_col

In [5]:
data2 = data2.iloc[5:]

In [6]:
new_data2 = data2.copy(deep=True)

In [7]:
new_data2 = new_data2.drop(['District','Total','Age','S_males','S_females','T_males','T_females'],axis=1)

In [8]:
new_data2.drop_duplicates(subset ="Area",keep = 'first', inplace = True)

In [9]:
new_data2.reset_index(inplace=True)

In [10]:
new_data2.pop('index')

0        5
1       35
2       65
3       95
4      125
5      155
6      185
7      215
8      245
9      275
10     305
11     335
12     365
13     395
14     425
15     455
16     485
17     515
18     545
19     575
20     605
21     635
22     665
23     695
24     725
25     755
26     785
27     815
28     845
29     875
30     905
31     935
32     965
33     995
34    1025
35    1055
Name: index, dtype: int64

In [11]:
fin_data2 = new_data2.copy()

In [12]:
fin_data2['Area'] = new_data2['Area'].str.lower()

In [13]:
fin_data2.sort_values("Area", axis = 0, ascending = True,inplace = True)

In [14]:
fin_data2.rename(columns = {'Area':'State','state':'state/ut'}, inplace = True)

In [15]:
fin_data2.reset_index(inplace=True)

In [16]:
fin_data2.pop('index')

0     35
1     28
2     12
3     18
4     10
5      4
6     22
7     26
8     25
9     30
10    24
11     6
12     2
13     0
14     1
15    20
16    29
17    32
18    31
19    23
20    27
21    14
22    17
23    15
24    13
25     7
26    21
27    34
28     3
29     8
30    11
31    33
32    16
33     9
34     5
35    19
Name: index, dtype: int64

In [17]:
fin_data2['exactly_two'] = fin_data2['S_persons'] - fin_data2['T_persons']

In [18]:
fin_df = fin_data2.copy()

In [19]:
fin_data2.pop('S_persons')

0        257425
1      21583334
2        885945
3      14460591
4      16761785
5        579920
6       3384223
7        198983
8        116629
9       1126152
10     25892341
11      5627361
12      1242705
13    314988770
14      6183190
15     10000720
16     24252594
17      8163387
18        18553
19      9808682
20     57419861
21      1388620
22       822320
23       309703
24      1229723
25      6817214
26     13825024
27       392292
28     13035224
29      7473186
30       388999
31     20416270
32      1268601
33     22873609
34      1757756
35     15025848
Name: S_persons, dtype: object

In [20]:
fin_data2['ratio'] = fin_data2['T_persons']/fin_data2['exactly_two']

In [21]:
fin_data2.pop('T_persons')

0        72708
1      6344376
2       418551
3      4352497
4      1682572
5       321979
6       422569
7        71516
8        34602
9       741249
10     8570571
11     1170571
12      347286
13    86009580
14     2096220
15     1593039
16     7832129
17     3188813
18        9981
19     1257953
20    19724729
21      616818
22      274931
23       52966
24      537481
25     1358233
26     5525278
27       71665
28     7829913
29     1006751
30      181402
31     2447163
32      198577
33     2585664
34      187822
35     2881005
Name: T_persons, dtype: object

In [22]:
fin_data2.pop('exactly_two')

0        184717
1      15238958
2        467394
3      10108094
4      15079213
5        257941
6       2961654
7        127467
8         82027
9        384903
10     17321770
11      4456790
12       895419
13    228979190
14      4086970
15      8407681
16     16420465
17      4974574
18         8572
19      8550729
20     37695132
21       771802
22       547389
23       256737
24       692242
25      5458981
26      8299746
27       320627
28      5205311
29      6466435
30       207597
31     17969107
32      1070024
33     20287945
34      1569934
35     12144843
Name: exactly_two, dtype: object

In [23]:
fin_data2.sort_values("ratio", axis = 0, ascending = False,inplace = True)

In [24]:
dfa = fin_data2.head(3).copy()

In [25]:
dfb = fin_data2.tail(3).copy()

In [26]:
dfa

   state/ut       State     ratio
9        30         goa  1.925807
28       03      punjab  1.504216
5        04  chandigarh  1.248266

In [27]:
dfb.sort_values("ratio", axis = 0, ascending = True,inplace = True)

In [28]:
all_dfs = [dfa, dfb]

In [29]:
for df in all_dfs:
    df.columns = ['state/ut','State', 'ratio']

In [30]:
result = pd.concat(all_dfs).reset_index(drop=True)

In [31]:
result.pop('State')

0              goa
1           punjab
2       chandigarh
3            bihar
4      uttarakhand
5    uttar pradesh
Name: State, dtype: object

In [32]:
result.to_csv('3-to-2-ratio.csv',index=False)

In [33]:
result

  state/ut     ratio
0       30  1.925807
1       03  1.504216
2       04  1.248266
3       10  0.111582
4       05  0.119637
5       09  0.127448