In [1]:
import pandas as pd
import numpy as np

In [2]:
data2 = pd.read_excel('DDW-C18-0000.xlsx')

In [3]:
new_col = ['state','District','Area','Total','Age','S_persons','S_males','S_females','T_persons','T_males','T_females']

In [4]:
data2.columns = new_col

In [5]:
data2 = data2.iloc[5:]

In [6]:
new_data2 = data2.copy(deep=True)

In [7]:
new_data2 = new_data2[new_data2['Total']=='Total'].copy()

In [8]:
two_data = new_data2.copy(deep=True)

In [9]:
new_data2 = new_data2.drop(['District','S_persons','Total','S_males','S_females','T_persons'],axis=1)

In [10]:
data1 = pd.read_excel('DDW-0000C-13.xls')

In [11]:
new_col2 = ['Table name','state code','District code','Area','Age','total_person','tot_male','tot_female','total_person_rural','tot_male_rural','tot_female_rural','total_person_urban','tot_male_urban','tot_female_urban']

In [12]:
data1.columns = new_col2
data1 = data1.iloc[6:]

In [13]:
data1 = data1[['state code','Area','Age','tot_male','tot_female']].copy()

In [14]:
the_list = data1.Area.unique()

In [15]:
a = [5,10,15,20,25,30,50,70]
b = [9,14,19,24,29,49,69,99]
final_male_sum = []
final_female_sum = []
for area in the_list:
    df = data1[data1['Area'] == area].copy()
    final_male_sum.append(df.iloc[0].tolist()[-2])
    final_female_sum.append(df.iloc[0].tolist()[-1])
    for i,j in zip(a,b):
        valf = 0
        valm=0
        for k in range(i,j+1):
            row = df.loc[df['Age'] == k].values.flatten().tolist()
            valf+=row[-1]
            valm+=row[-2]
        final_male_sum.append(valm)
        final_female_sum.append(valf)
    r = df[df['Age'] == 'Age not stated'].values.flatten().tolist()
    final_male_sum.append(r[-2])
    final_female_sum.append(r[-1])

In [16]:
len(final_male_sum)

360

In [17]:
new_data2['male_row'] = final_male_sum
new_data2['female_row'] = final_female_sum

In [18]:
new_data2 = new_data2[new_data2['Age']!='Total'].copy()

In [19]:
new_data2['male_ratio'] = new_data2['T_males']/new_data2['male_row']
new_data2['female_ratio'] = new_data2['T_females']/new_data2['female_row']

In [20]:
three_males = new_data2[['state','Area','Age','T_males','male_ratio']].copy()
three_females = new_data2[['state','Area','Age','T_females','female_ratio']].copy()

In [21]:
three_males['max_column'] = three_males.groupby(['Area'])['male_ratio'].transform('max')
three_females['max_column'] = three_females.groupby(['Area'])['female_ratio'].transform('max')

In [22]:
three_males = three_males[three_males['male_ratio'] == three_males['max_column']].copy()
three_females = three_females[three_females['female_ratio'] == three_females['max_column']].copy()

In [23]:
three_males = three_males[['state','Age','T_males','male_ratio']].copy()
three_females = three_females[['state','Age','T_females','female_ratio']].copy()

In [24]:
three_males.pop('T_males')

9       7067614
39       191644
69        27019
98       700576
133        7034
159       16609
189      101018
223       40565
249      108655
279      243722
309      132395
338       14858
368       37805
400       37805
431      129446
461       13955
490       17653
521       58689
551      991577
582      390693
609      119424
639      466127
671       87057
699      110897
728      812093
762        2096
787        6062
819     1667890
849      583144
880      558250
908       39797
940         837
969      217414
1000     155804
1032       8628
1058       4785
Name: T_males, dtype: object

In [25]:
three_females.pop('T_females')

9       5766720
39       151756
68        24521
98       588907
128       18620
159       13413
188       87990
222      110240
248       87575
279      185794
308      119938
338       15798
368       36419
399       39257
429       41391
460        2869
489       12407
519       18712
548      273925
579      164090
608      103340
638      410321
669       25042
698       99579
728      594901
758        2093
788        4701
818     1291323
848      496153
879      488892
908       37739
939         709
969      234331
999      142402
1029       4449
1058       4709
Name: T_females, dtype: object

In [26]:
three_males = three_males.rename(columns={'male_ratio':'male-ratio-of-3','Age': 'male-age-group'})
three_females = three_females.rename(columns={'female_ratio':'female-ratio-of-3','Age': 'female-age-group'})

In [27]:
res = pd.merge(three_males, three_females, on='state', how='outer')

In [28]:
res.columns = ['state/ut','age-group-males','ratio-males-3','age-group-females','ratio-females-3']

In [29]:
res.to_csv('age-gender-a.csv',index=False)

In [30]:
two_data = two_data.drop(['District', 'S_persons','T_persons'], axis = 1)

In [31]:
one_data = two_data[['state','Area','Age','S_males','S_females']].copy()

In [32]:
two_data['exactly_two_male'] = two_data['S_males'] - two_data['T_males']
two_data['exactly_two_female'] = two_data['S_females'] - two_data['T_females']

In [33]:
two_data = two_data.drop(['S_males', 'S_females','T_males','T_females'], axis = 1)

In [34]:
two_data['male_col'] = final_male_sum
two_data['female_col'] = final_female_sum

In [35]:
two_data = two_data[two_data['Age']!='Total'].copy()

In [36]:
two_data['male_ratio'] = two_data['exactly_two_male']/two_data['male_col']
two_data['female_ratio'] = two_data['exactly_two_female']/two_data['female_col']

In [37]:
two_data = two_data[['state','Area','Age','male_ratio','female_ratio']].copy()

In [38]:
male_a = two_data[['state','Area','Age','male_ratio']].copy()
female_a = two_data[['state','Area','Age','female_ratio']].copy()

In [39]:
male_a['max_column'] = male_a.groupby(['Area'])['male_ratio'].transform('max')
female_a['max_column'] = female_a.groupby(['Area'])['female_ratio'].transform('max')

In [40]:
male_a = male_a[male_a['male_ratio'] == male_a['max_column']].copy()
female_a = female_a[female_a['female_ratio'] == female_a['max_column']].copy()

In [41]:
male_a.pop('max_column')
female_a.pop('max_column')
male_a.pop('Area')
female_a.pop('Area')

9                           INDIA
37                JAMMU & KASHMIR
69               HIMACHAL PRADESH
97                         PUNJAB
133                    CHANDIGARH
159                   UTTARAKHAND
189                       HARYANA
219                  NCT OF DELHI
248                     RAJASTHAN
279                 UTTAR PRADESH
308                         BIHAR
344                        SIKKIM
367             ARUNACHAL PRADESH
401                      NAGALAND
428                       MANIPUR
458                       MIZORAM
488                       TRIPURA
518                     MEGHALAYA
547                         ASSAM
579                   WEST BENGAL
608                     JHARKHAND
637                        ODISHA
669                  CHHATTISGARH
698                MADHYA PRADESH
728                       GUJARAT
758                   DAMAN & DIU
787          DADRA & NAGAR HAVELI
818                   MAHARASHTRA
848                ANDHRA PRADESH
878                     KARNATAKA
907                           GOA
939                   LAKSHADWEEP
969                        KERALA
998                    TAMIL NADU
1028                   PUDUCHERRY
1057    ANDAMAN & NICOBAR ISLANDS
Name: Area, dtype: object

In [42]:
male_a = male_a.rename(columns={'male_ratio':'male-ratio-of-2','Age': 'male-age-group'})
female_a = female_a.rename(columns={'female_ratio':'female-ratio-of-2','Age': 'female-age-group'})

In [43]:
result = pd.merge(male_a, female_a, on='state', how='outer')

In [44]:
result.columns = ['state/ut','age-group-males','ratio-males-2','age-group-females','ratio-females-2']

In [45]:
result.to_csv('age-gender-b.csv',index=False)

In [46]:
one_data['male'] = final_male_sum

In [47]:
one_data['female'] = final_female_sum

In [48]:
one_data = one_data[one_data['Age']!='Total'].copy()

In [49]:
one_data['exactly_one_male'] = one_data['male'] - one_data['S_males']
one_data['exactly_one_female'] = one_data['female'] - one_data['S_females']

In [50]:
one_data = one_data[['state', 'Area', 'Age','exactly_one_male', 'exactly_one_female','male', 'female']].copy()

In [51]:
one_data['male_ratio'] = one_data['exactly_one_male']/one_data['male']
one_data['female_ratio'] = one_data['exactly_one_female']/one_data['female']

In [52]:
one_data = one_data[['state', 'Area', 'Age','male_ratio', 'female_ratio']].copy()

In [53]:
male_one = one_data[['state','Area','Age','male_ratio']].copy()
female_one = one_data[['state','Area','Age','female_ratio']].copy()

In [54]:
male_one['max_column'] = male_one.groupby(['Area'])['male_ratio'].transform('max')
female_one['max_column'] = female_one.groupby(['Area'])['female_ratio'].transform('max')

In [55]:
male_one = male_one[male_one['male_ratio'] == male_one['max_column']].copy()
female_one = female_one[female_one['female_ratio'] == female_one['max_column']].copy()

In [56]:
male_one.pop('max_column')
female_one.pop('max_column')

6       0.876585
43      0.776540
73      0.921350
103     0.845368
126     0.725435
156     0.903566
186     0.907915
216     0.844506
246     0.941008
276     0.953154
306     0.880132
336     0.619293
373     0.618674
403     0.691137
426     0.813489
456     0.898601
486     0.805622
516     0.906486
546     0.735775
576     0.929845
606     0.796685
643     0.872896
666     0.903885
696     0.919569
726     0.871166
756     0.776100
793     0.557515
816     0.769615
853     0.867974
876     0.750633
906     0.475242
936     0.974311
966     0.950733
996     0.856116
1026    0.887621
1063    0.578478
Name: max_column, dtype: float64

In [57]:
male_one = male_one.rename(columns={'male_ratio':'male-ratio-of-1','Age': 'male-age-group'})
female_one = female_one.rename(columns={'female_ratio':'female-ratio-of-1','Age': 'female-age-group'})

In [58]:
male_one.pop('Area')
female_one.pop('Area')

6                           INDIA
43                JAMMU & KASHMIR
73               HIMACHAL PRADESH
103                        PUNJAB
126                    CHANDIGARH
156                   UTTARAKHAND
186                       HARYANA
216                  NCT OF DELHI
246                     RAJASTHAN
276                 UTTAR PRADESH
306                         BIHAR
336                        SIKKIM
373             ARUNACHAL PRADESH
403                      NAGALAND
426                       MANIPUR
456                       MIZORAM
486                       TRIPURA
516                     MEGHALAYA
546                         ASSAM
576                   WEST BENGAL
606                     JHARKHAND
643                        ODISHA
666                  CHHATTISGARH
696                MADHYA PRADESH
726                       GUJARAT
756                   DAMAN & DIU
793          DADRA & NAGAR HAVELI
816                   MAHARASHTRA
853                ANDHRA PRADESH
876                     KARNATAKA
906                           GOA
936                   LAKSHADWEEP
966                        KERALA
996                    TAMIL NADU
1026                   PUDUCHERRY
1063    ANDAMAN & NICOBAR ISLANDS
Name: Area, dtype: object

In [59]:
final = pd.merge(male_one, female_one, on='state', how='outer')

In [60]:
final.columns = ['state/ut','age-group-males','ratio-males-1','age-group-females','ratio-females-1']

In [61]:
final.to_csv('age-gender-c.csv',index=False)

In [62]:
final

   state/ut age-group-males ratio-males-1 age-group-females ratio-females-1
0        00             5-9      0.876821               5-9        0.876585
1        01             5-9      0.685737               70+         0.77654
2        02             5-9       0.88713               70+         0.92135
3        03             5-9      0.801164               70+        0.845368
4        04             5-9      0.713938               5-9        0.725435
5        05             5-9      0.903684               5-9        0.903566
6        06             5-9      0.906105               5-9        0.907915
7        07             5-9      0.844588               5-9        0.844506
8        08             5-9      0.939905               5-9        0.941008
9        09             5-9      0.954013               5-9        0.953154
10       10             5-9      0.879816               5-9        0.880132
11       11             5-9      0.625837               5-9        0.619293
12       12             5-9      0.535681               70+        0.618674
13       13             5-9       0.67298               70+        0.691137
14       14             5-9       0.81403               5-9        0.813489
15       15             5-9      0.895288               5-9        0.898601
16       16             5-9      0.803502               5-9        0.805622
17       17             5-9      0.910251               5-9        0.906486
18       18             5-9      0.737461               5-9        0.735775
19       19             5-9      0.928575               5-9        0.929845
20       20             5-9      0.796171               5-9        0.796685
21       21             5-9      0.838857               70+        0.872896
22       22             5-9      0.899148               5-9        0.903885
23       23             5-9      0.922551               5-9        0.919569
24       24             5-9      0.867415               5-9        0.871166
25       25             5-9      0.768722               5-9          0.7761
26       26             5-9      0.551498               70+        0.557515
27       27             5-9      0.768407               5-9        0.769615
28       28             5-9      0.864464               70+        0.867974
29       29             5-9      0.750905               5-9        0.750633
30       30             5-9       0.47924               5-9        0.475242
31       31             5-9      0.969203               5-9        0.974311
32       32             5-9      0.951883               5-9        0.950733
33       33             5-9      0.857816               5-9        0.856116
34       34             5-9      0.887297               5-9        0.887621
35       35             5-9      0.541645               70+        0.578478