In [1]:
import pandas as pd
import numpy as np

In [2]:
d = pd.read_excel('DDW-0000C-08.xlsx')

In [3]:
d_col = ['table_name','state_code','dist_code','area_name','tot/urb/rur','age_group','tot_persons','tot_males','tot_females','illiterate_persons','illiterate_males','illiterate_females','literate_persons','literate_males','literate_females','literate_without_edu_level_persons','literate_without_edu_level_males','literate_without_edu_level_females','below_primary_persons','below_primary_males','below_primary_females','primary_persons','primary_males','primary_females','middle_persons','middle_males','middle_females','matric_persons','matric_males','matric_females','intermediate_persons','intermediate_males','intermediate_females','non_tech_diploma_persons','non_tech_diploma_males','non_tech_diploma_females','tech_diploma_persons','tech_diploma_males','tech_diploma_females','graduate_and_above_persons','graduate_and_above_males','graduate_and_above_females','unclassified_persons','unclassified_persons_males','unclassified_persons_females']

In [4]:
d.columns = d_col

In [5]:
d = d[6:]

In [6]:
d = d[['state_code','area_name','tot/urb/rur','illiterate_males','illiterate_females','literate_males','literate_females','literate_without_edu_level_males','literate_without_edu_level_females','below_primary_males','below_primary_females','primary_males','primary_females','middle_males','middle_females','matric_males','matric_females','intermediate_males','intermediate_females','non_tech_diploma_males','non_tech_diploma_females','tech_diploma_males','tech_diploma_females','graduate_and_above_males','graduate_and_above_females','unclassified_persons_males','unclassified_persons_females']].copy()

In [7]:
d = d[d['tot/urb/rur']=='Total'].copy()

In [8]:
d.head()

,state_code,area_name,tot/urb/rur,illiterate_males,illiterate_females,literate_males,literate_females,literate_without_edu_level_males,literate_without_edu_level_females,below_primary_males,...,intermediate_males,intermediate_females,non_tech_diploma_males,non_tech_diploma_females,tech_diploma_males,tech_diploma_females,graduate_and_above_males,graduate_and_above_females,unclassified_persons_males,unclassified_persons_females
6,00,INDIA,Total,188506636,258709529,434763622,328875190,19278416,15874815,78445099,...,46481321,31461272,726565,345724,5354161,1884558,42120460,26168511,1647116,1384454
7,00,INDIA,Total,85752254,78762999,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,00,INDIA,Total,3388683,3359531,9514681,8563745,248229,175976,9190737,...,0,0,0,0,0,0,0,0,75715,60750
9,00,INDIA,Total,2013742,2117672,12048195,10788764,202220,149060,11793414,...,0,0,0,0,0,0,0,0,52561,43963
10,00,INDIA,Total,1198339,1293565,11016646,9916088,167048,124233,9579169,...,0,0,0,0,0,0,0,0,38456,31996

In [9]:
d['total_literate_males'] = d['literate_males'] + d['unclassified_persons_males'] + d['literate_without_edu_level_males'] + d['illiterate_males']
d['total_literate_females'] = d['literate_females'] + d['unclassified_persons_females'] + d['literate_without_edu_level_females'] + d['illiterate_females']

In [10]:
d['total_matric_males'] = d['matric_males'] + d['intermediate_males']+ d['non_tech_diploma_males'] + d['tech_diploma_males']
d['total_matric_females'] = d['matric_females'] + d['intermediate_females']+ d['non_tech_diploma_females'] + d['tech_diploma_females']

In [11]:
data2 = pd.read_excel('DDW-C19-0000.xlsx')

In [12]:
new_col = ['state','District','Area','Total','Edu-level','S_persons','S_males','S_females','T_persons','T_males','T_females']

In [13]:
data2.columns = new_col

In [14]:
data2 = data2.iloc[5:]

In [15]:
new_data2 = data2.copy(deep=True)

In [16]:
new_data2 = new_data2[new_data2['Total']=='Total'].copy()

In [17]:
new_data2 = new_data2[new_data2['Edu-level']!='Total'].copy()

In [18]:
newData2 = pd.DataFrame(columns= ['state','District','Area','Total','Edu-level','S_persons','S_males','S_females','T_persons','T_males','T_females'])

In [19]:
names = new_data2['Area'].to_list()

In [20]:
names = set(names)

In [21]:
for state in names:
    test = new_data2[new_data2['Area'] == state].copy()
    lista = test[test['Edu-level']=='Illiterate'].values.flatten().tolist()
    listb = test[test['Edu-level']=='Literate'].values.flatten().tolist()
    final_list = [listb[0],listb[1],listb[2],listb[3],listb[4]]
    lista = lista[5:]
    listb = listb[5:]
    for i,j in zip(lista,listb):
        final_list.append(i+j)
    test[test['Edu-level'] == 'Literate'] = final_list
    test = test[test['Edu-level']!='Illiterate'].copy()
    c = pd.concat([newData2,test],ignore_index=True)
    newData2 = c.copy(deep=True)

In [22]:
newData2.sort_values("Area", axis = 0, ascending = True,inplace = True, na_position ='last')

In [23]:
new_data2 = newData2.copy(deep=True)

In [24]:
d.drop_duplicates(subset =["area_name"],keep = 'first', inplace = True)

In [25]:
three_data = new_data2[['state','Area','Edu-level','T_males','T_females']].copy()

In [26]:
two_data = new_data2.copy(deep=True)

In [27]:
one_data = new_data2[['state','Area','Edu-level','S_males','S_females']].copy()

In [28]:
d.reset_index(inplace=True)

In [29]:
d = d[['state_code', 'area_name','total_literate_males','total_literate_females','below_primary_males','below_primary_females', 'primary_males', 'primary_females','middle_males', 'middle_females','total_matric_males', 'total_matric_females','graduate_and_above_males','graduate_and_above_females', ]].copy()

In [30]:
col_list = ['state_code', 'area_name','literate males', 'literate females', 'literate but below primary males', 'literate but below primary females', 'primary but below middle males', 'primary but below middle females', 'middle but below matric/secondary males', 'middle but below matric/secondary females', 'matric/secondary but below graduate males', 'matric/secondary but below graduate females', 'graduate and above males', 'graduate and above females']

In [31]:
three_data.reset_index(inplace=True)

In [32]:
three_data.pop('index')

0        0
1        1
2        2
3        3
4        4
      ...
211    175
212    174
213    178
214    179
215    177
Name: index, Length: 216, dtype: int64

In [33]:
d.columns = col_list

In [34]:
the = d['area_name'].to_list()

In [35]:
for i in range(len(the)):
    change = the[i]
    change = change.replace("State - ", "")
    the[i] = change

In [36]:
d['area_name'] = the

In [37]:
d.sort_values("area_name", axis = 0, ascending = True,inplace = True, na_position ='last')

In [38]:
d['area_name'] = d['area_name'].str.lower()

In [39]:
three_data['male'] = np.repeat(0,216)
three_data['female'] = np.repeat(0,216)

In [40]:
three_data['Edu-level'] = three_data['Edu-level'].str.lower()
three_data['Area'] = three_data['Area'].str.lower()

In [41]:
def add_three(name,level,idx):
    df = (d[d['area_name']==name])
    text_male = level + ' males'
    text_female = level + ' females'
    three_data.at[index,'male'] = df[text_male].to_list()[0]
    three_data.at[index,'female'] = df[text_female].to_list()[0]

In [42]:
for index, row in three_data.iterrows():
    name = row['Area']
    level = row['Edu-level']
    add_three(name,level,index)

In [43]:
tot_data = three_data[['male','female']].copy()

In [44]:
three_data['male_ratio'] = three_data['T_males']/three_data['male']
three_data['female_ratio'] = three_data['T_females']/three_data['female']

In [45]:
three_males = three_data[['state','Area','Edu-level','male_ratio']].copy()
three_females = three_data[['state','Area','Edu-level','female_ratio']].copy()

In [46]:
three_males['max_column'] = three_males.groupby(['Area'])['male_ratio'].transform('max')
three_females['max_column'] = three_females.groupby(['Area'])['female_ratio'].transform('max')

In [47]:
three_males = three_males[three_males['male_ratio'] == three_males['max_column']].copy()
three_females = three_females[three_females['female_ratio'] == three_females['max_column']].copy()

In [48]:
three_males.pop('max_column')
three_females.pop('max_column')

5      0.523678
10     0.362510
17     0.716931
22     0.600356
28     0.084491
31     0.705212
41     0.129118
42     0.548726
53     0.579392
58     0.804937
64     0.670003
66     0.196280
74     0.152457
83     0.337433
88     0.680314
93     0.217443
96     0.501979
102    0.353019
111    0.610190
117    0.117693
121    0.656895
127    0.621187
132    0.429673
143    0.209615
144    0.695980
150    0.247149
161    0.655997
162    0.204870
168    0.765537
179    0.086324
180    0.791838
191    0.145446
195    0.313940
201    0.069244
208    0.073002
214    0.244835
Name: max_column, dtype: float64

In [49]:
three_males.columns = ['state/ut','Area','literacy-group-males',' ratio-males-3']
three_females.columns = ['state/ut','Area','literacy-group-females',' ratio-females-3']

In [50]:
final_three = pd.merge(three_males, three_females, on='Area', how='outer')

In [51]:
final_three.pop('state/ut_y')
final_three.pop('Area')

0     andaman & nicobar islands
1                andhra pradesh
2             arunachal pradesh
3                         assam
4                         bihar
5                    chandigarh
6                  chhattisgarh
7          dadra & nagar haveli
8                   daman & diu
9                           goa
10                      gujarat
11                      haryana
12             himachal pradesh
13                        india
14              jammu & kashmir
15                    jharkhand
16                    karnataka
17                       kerala
18                  lakshadweep
19               madhya pradesh
20                  maharashtra
21                      manipur
22                    meghalaya
23                      mizoram
24                     nagaland
25                 nct of delhi
26                       odisha
27                   puducherry
28                       punjab
29                    rajasthan
30                       sikkim
31                   tamil nadu
32                      tripura
33                uttar pradesh
34                  uttarakhand
35                  west bengal
Name: Area, dtype: object

In [52]:
final_three = final_three.rename(columns={'state/ut_x':'state/ut'})

In [53]:
final_three.sort_values("state/ut", axis = 0, ascending = True,inplace = True, na_position ='last')

In [54]:
final_three.to_csv('literacy-gender-a.csv',index = False)

In [55]:
two_data.reset_index(inplace=True)

In [56]:
two_data['male-two'] = two_data['S_males'] - two_data['T_males']
two_data['female-two'] = two_data['S_females'] - two_data['T_females']

In [57]:
two_data = two_data[['state','Area','Edu-level','male-two','female-two']].copy()

In [58]:
two_data['Area'] = two_data['Area'].str.lower()
two_data['Edu-level'] = two_data['Edu-level'].str.lower()

In [59]:
two_data['male'] = np.repeat(0,216)
two_data['female'] = np.repeat(0,216)

In [60]:
def add_two(name,level,idx):
    df = (d[d['area_name']==name])
    text_male = level + ' males'
    text_female = level + ' females'
    two_data.at[index,'male'] = df[text_male].to_list()[0]
    two_data.at[index,'female'] = df[text_female].to_list()[0]

In [61]:
for index, row in two_data.iterrows():
    name = row['Area']
    level = row['Edu-level']
    add_two(name,level,index)

In [62]:
two_data['male_ratio'] = two_data['male-two']/three_data['male']
two_data['female_ratio'] = two_data['female-two']/three_data['female']

In [63]:
two_males = two_data[['state','Area','Edu-level','male_ratio']].copy()
two_females = two_data[['state','Area','Edu-level','female_ratio']].copy()

In [64]:
two_males['max_column'] = two_males.groupby(['Area'])['male_ratio'].transform('max')
two_females['max_column'] = two_females.groupby(['Area'])['female_ratio'].transform('max')

In [65]:
two_males = two_males[two_males['male_ratio'] == two_males['max_column']].copy()
two_females = two_females[two_females['female_ratio'] == two_females['max_column']].copy()

In [66]:
two_males.pop('max_column')
two_females.pop('max_column')

2      0.630005
10     0.376179
13     0.513165
19     0.389562
28     0.311809
30     0.353068
41     0.295320
44     0.546523
51     0.550489
56     0.492154
65     0.537277
66     0.472862
74     0.240272
83     0.376113
86     0.583226
93     0.399280
97     0.326569
102    0.388279
111    0.257109
117    0.429425
125    0.494496
128    0.367819
132    0.462337
143    0.675127
147    0.518272
150    0.632253
160    0.282474
162    0.637281
173    0.337852
179    0.362975
182    0.447626
191    0.604541
195    0.365270
201    0.433187
208    0.354939
214    0.356559
Name: max_column, dtype: float64

In [67]:
two_males.columns = ['state/ut','Area','literacy-group-males',' ratio-males-2']
two_females.columns = ['state/ut','Area','literacy-group-females',' ratio-females-2']

In [68]:
final_two = pd.merge(two_males, two_females, on='Area', how='outer')

In [69]:
final_two.pop('state/ut_y')
final_two.pop('Area')

0     andaman & nicobar islands
1                andhra pradesh
2             arunachal pradesh
3                         assam
4                         bihar
5                    chandigarh
6                  chhattisgarh
7          dadra & nagar haveli
8                   daman & diu
9                           goa
10                      gujarat
11                      haryana
12             himachal pradesh
13                        india
14              jammu & kashmir
15                    jharkhand
16                    karnataka
17                       kerala
18                  lakshadweep
19               madhya pradesh
20                  maharashtra
21                      manipur
22                    meghalaya
23                      mizoram
24                     nagaland
25                 nct of delhi
26                       odisha
27                   puducherry
28                       punjab
29                    rajasthan
30                       sikkim
31                   tamil nadu
32                      tripura
33                uttar pradesh
34                  uttarakhand
35                  west bengal
Name: Area, dtype: object

In [70]:
final_two = final_two.rename(columns={'state/ut_x':'state/ut'})

In [71]:
final_two.sort_values("state/ut", axis = 0, ascending = True,inplace = True, na_position ='last')

In [72]:
final_two.to_csv('literacy-gender-b.csv',index=False)

In [73]:
one_data['Area'] = one_data['Area'].str.lower()
one_data['Edu-level'] = one_data['Edu-level'].str.lower()

In [74]:
one_data.reset_index(inplace=True)

In [75]:
one_data.pop('index')

0        0
1        1
2        2
3        3
4        4
      ...
211    175
212    174
213    178
214    179
215    177
Name: index, Length: 216, dtype: int64

In [76]:
one_area = one_data['Area'].to_list()

In [77]:
for i in range(len(one_area)):
    text = one_area[i]
    text = text.replace('&','and')
    one_area[i] = text

In [78]:
one_data['Area'] = one_area

In [79]:
one_data['male'] = tot_data['male'].to_list()
one_data['female'] = tot_data['female'].to_list()

In [80]:
one_data.head()

,state,Area,Edu-level,S_males,S_females,male,female
0,35,andaman and nicobar islands,literate,142378,115047,206389,181076
1,35,andaman and nicobar islands,literate but below primary,15471,12785,22513,19616
2,35,andaman and nicobar islands,primary but below middle,29491,22946,37920,30495
3,35,andaman and nicobar islands,middle but below matric/secondary,31737,23203,39337,29283
4,35,andaman and nicobar islands,matric/secondary but below graduate,40105,30799,47467,36607

In [81]:
one_data['one-male'] = one_data['male'] - one_data['S_males']
one_data['one-female'] = one_data['female'] - one_data['S_females']

In [82]:
one_data = one_data.drop(['S_males','S_females'],axis=1)

In [83]:
one_data['ratio-male-1'] = one_data['one-male']/one_data['male']
one_data['ratio-female-1'] = one_data['one-female']/one_data['female']

In [84]:
male_one = one_data[['state','Area','Edu-level','ratio-male-1']].copy()
female_one = one_data[['state','Area','Edu-level','ratio-female-1']].copy()

In [85]:
male_one['max_column'] = male_one.groupby(['Area'])['ratio-male-1'].transform('max')
female_one['max_column'] = female_one.groupby(['Area'])['ratio-female-1'].transform('max')

In [86]:
male_one = male_one[male_one['ratio-male-1'] == male_one['max_column']].copy()
female_one = female_one[female_one['ratio-female-1'] == female_one['max_column']].copy()

In [87]:
male_one.pop('max_column')
female_one.pop('max_column')

0      0.364648
11     0.833329
12     0.400423
21     0.587008
24     0.857191
33     0.608200
40     0.878853
45     0.445132
49     0.621291
55     0.307347
62     0.798674
71     0.850880
75     0.838191
80     0.806900
87     0.574298
91     0.723764
100    0.656461
106    0.927691
109    0.928381
115    0.881282
124    0.652025
131    0.628061
137    0.831964
141    0.827003
149    0.426517
152    0.769320
157    0.810188
166    0.868128
170    0.669270
174    0.908761
181    0.426115
188    0.818735
196    0.708909
198    0.914209
205    0.852406
211    0.909949
Name: max_column, dtype: float64

In [88]:
male_one.head()

   state                         Area                   Edu-level ratio-male-1
1     35  andaman and nicobar islands  literate but below primary     0.312797
11    28               andhra pradesh  literate but below primary      0.81632
12    12            arunachal pradesh                    literate     0.342436
20    18                        assam  literate but below primary     0.527125
24    10                        bihar                    literate     0.832075

In [89]:
male_one.columns = ['state/ut','Area','literacy-group-males',' ratio-males-1']
female_one.columns = ['state/ut','Area','literacy-group-females',' ratio-females-1']

In [90]:
final_one = pd.merge(male_one, female_one, on='Area', how='outer')

In [91]:
final_one = final_one.drop(['Area','state/ut_y'],axis=1)

In [92]:
final_one.sort_values("state/ut_x", axis = 0, ascending = True,inplace = True, na_position ='last')

In [93]:
final_one = final_one.rename(columns={'state/ut_x':'state/ut'})

In [94]:
final_one.to_csv('literacy-gender-c.csv',index=False)