In [1]:
import pandas as pd

In [2]:
d = pd.read_excel('DDW-0000C-08.xlsx')

In [3]:
d_col = ['table_name','state_code','dist_code','area_name','tot/urb/rur','age_group','tot_persons','tot_males','tot_females','illiterate_persons','illiterate_males','illiterate_females','literate_persons','literate_males','literate_females','literate_without_edu_level_persons','literate_without_edu_level_males','literate_without_edu_level_females','below_primary_persons','below_primary_males','below_primary_females','primary_persons','primary_males','primary_females','middle_persons','middle_males','middle_females','matric_persons','matric_males','matric_females','intermediate_persons','intermediate_males','intermediate_females','non_tech_diploma_persons','non_tech_diploma_males','non_tech_diploma_females','tech_diploma_persons','tech_diploma_males','tech_diploma_females','graduate_and_above_persons','graduate_and_above_males','graduate_and_above_females','unclassified_persons','unclassified_persons_males','unclassified_persons_females']

In [4]:
d.columns = d_col

In [5]:
d = d[6:]

In [6]:
d = d[['state_code','area_name','tot/urb/rur','illiterate_males','illiterate_females','literate_males','literate_females','literate_without_edu_level_males','literate_without_edu_level_females','below_primary_males','below_primary_females','primary_males','primary_females','middle_males','middle_females','matric_males','matric_females','intermediate_males','intermediate_females','non_tech_diploma_males','non_tech_diploma_females','tech_diploma_males','tech_diploma_females','graduate_and_above_males','graduate_and_above_females','unclassified_persons_males','unclassified_persons_females']].copy()

In [7]:
d = d[d['tot/urb/rur']=='Total'].copy()

In [8]:
d.head()

,state_code,area_name,tot/urb/rur,illiterate_males,illiterate_females,literate_males,literate_females,literate_without_edu_level_males,literate_without_edu_level_females,below_primary_males,...,intermediate_males,intermediate_females,non_tech_diploma_males,non_tech_diploma_females,tech_diploma_males,tech_diploma_females,graduate_and_above_males,graduate_and_above_females,unclassified_persons_males,unclassified_persons_females
6,00,INDIA,Total,188506636,258709529,434763622,328875190,19278416,15874815,78445099,...,46481321,31461272,726565,345724,5354161,1884558,42120460,26168511,1647116,1384454
7,00,INDIA,Total,85752254,78762999,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,00,INDIA,Total,3388683,3359531,9514681,8563745,248229,175976,9190737,...,0,0,0,0,0,0,0,0,75715,60750
9,00,INDIA,Total,2013742,2117672,12048195,10788764,202220,149060,11793414,...,0,0,0,0,0,0,0,0,52561,43963
10,00,INDIA,Total,1198339,1293565,11016646,9916088,167048,124233,9579169,...,0,0,0,0,0,0,0,0,38456,31996

In [9]:
d['total_literate_males'] = d['literate_males'] + d['unclassified_persons_males'] + d['literate_without_edu_level_males'] + d['illiterate_males']
d['total_literate_females'] = d['literate_females'] + d['unclassified_persons_females'] + d['literate_without_edu_level_females'] + d['illiterate_females']

In [10]:
d['total_matric_males'] = d['matric_males'] + d['intermediate_males']+ d['non_tech_diploma_males'] + d['tech_diploma_males']
d['total_matric_females'] = d['matric_females'] + d['intermediate_females']+ d['non_tech_diploma_females'] + d['tech_diploma_females']

In [11]:
data2 = pd.read_excel('DDW-C19-0000.xlsx')

In [12]:
new_col = ['state','District','Area','Total','Edu-level','S_persons','S_males','S_females','T_persons','T_males','T_females']

In [13]:
data2.columns = new_col

In [14]:
data2 = data2.iloc[5:]

In [15]:
new_data2 = data2.copy(deep=True)

In [16]:
new_data2 = new_data2[new_data2['Total']=='Total'].copy()

In [17]:
new_data2 = new_data2[new_data2['Edu-level']!='Total'].copy()

In [20]:
new_data2[new_data2['Area'] == 'INDIA']

,state,District,Area,Total,Edu-level,S_persons,S_males,S_females,T_persons,T_males,T_females
6,00,00,INDIA,Total,Illiterate,42266268,17851584,24414684,3879858,1890285,1989573
7,00,00,INDIA,Total,Literate,272722502,158844799,113877703,82129722,48646547,33483175
8,00,00,INDIA,Total,Literate but below primary,29345104,16126959,13218145,3733616,2108024,1625592
9,00,00,INDIA,Total,Primary but below middle,48570544,26588496,21982048,8636296,4782211,3854085
10,00,00,INDIA,Total,Middle but below matric/secondary,43116661,25214857,17901804,10743350,6266289,4477061
11,00,00,INDIA,Total,Matric/Secondary but below graduate,93204075,56022449,37181626,33899219,20411147,13488072
12,00,00,INDIA,Total,Graduate and above,46958049,28285620,18672429,22146543,13316422,8830121

In [ ]:
d.drop_duplicates(subset =["area_name"],keep = 'first', inplace = True)

In [ ]:
three_data = new_data2[['state','Area','Edu-level','T_males','T_females']].copy()

In [ ]:
two_data = new_data2.copy(deep=True)

In [ ]:
one_data = new_data2[['state','Area','Edu-level','S_males','S_females']].copy()

In [ ]:
d.reset_index(inplace=True)

In [ ]:
d = d[['state_code', 'area_name', 'illiterate_males','illiterate_females','total_literate_males','total_literate_females','below_primary_males','below_primary_females', 'primary_males', 'primary_females','middle_males', 'middle_females','total_matric_males', 'total_matric_females','graduate_and_above_males','graduate_and_above_females', ]].copy()

In [ ]:
col_list = ['state_code', 'area_name','illiterate males','illiterate females', 'literate males', 'literate females', 'literate but below primary males', 'literate but below primary females', 'primary but below middle males', 'primary but below middle females', 'middle but below matric/secondary males', 'middle but below matric/secondary females', 'matric/secondary but below graduate males', 'matric/secondary but below graduate females', 'graduate and above males', 'graduate and above females']

In [ ]:
three_data.reset_index(inplace=True)

In [ ]:
d.columns = col_list

In [ ]:
text_male = 'male'
text_female = 'female'

In [ ]:
def add_male(full,first):
    ahem = d[full].to_list()
    k=0
    for index, row in three_data.iterrows():
        if row["Edu-level"]==first:
            three_data.loc[index, text_male] = ahem[k]
            k+=1

In [ ]:
def add_female(full,first):
    ahem = d[full].to_list()
    k=0
    for index, row in three_data.iterrows():
        if row["Edu-level"]==first:
            three_data.loc[index, text_female] = ahem[k]
            k+=1

In [ ]:
three_data['Edu-level'] = three_data['Edu-level'].str.lower()

In [ ]:
col_list = col_list[2:]

In [ ]:
for name in col_list:
    a = name.rsplit(' ', 1)[0]
    b = name.rsplit(' ', 1)[-1]
    if b == 'males':
        add_male(name,a)
    elif b == 'females':
        add_female(name,a)

In [ ]:
tot_data = three_data[['male','female']].copy()

In [ ]:
three_data['male_ratio'] = three_data['T_males']/three_data['male']
three_data['female_ratio'] = three_data['T_females']/three_data['female']

In [ ]:
three_males = three_data[['state','Area','Edu-level','male_ratio']].copy()
three_females = three_data[['state','Area','Edu-level','female_ratio']].copy()

In [ ]:
three_males['max_column'] = three_males.groupby(['Area'])['male_ratio'].transform('max')
three_females['max_column'] = three_females.groupby(['Area'])['female_ratio'].transform('max')

In [ ]:
three_males = three_males[three_males['male_ratio'] == three_males['max_column']].copy()
three_females = three_females[three_females['female_ratio'] == three_females['max_column']].copy()

In [ ]:
three_males = three_males.rename(columns={'state':'state/ut','Edu-level':'male-literacy-group','male_ratio':'male-ratio-of-3'})

In [ ]:
three_females = three_females.rename(columns={'state':'state/ut','Edu-level':'female-literacy-group','female_ratio':'female-ratio-of-3'})

In [ ]:
three_males.pop('max_column')
three_females.pop('max_column')

In [ ]:
final_three = pd.merge(three_males, three_females, on='Area', how='outer')

In [ ]:
final_three = final_three[['state/ut_x','male-literacy-group','male-ratio-of-3','female-literacy-group','female-ratio-of-3']].copy()

In [ ]:
final_three = final_three.rename(columns={'state/ut_x':'state/ut'})

In [ ]:
final_three.columns = ['state/ut','literacy-group-males', 'ratio-males-3','literacy-group-females', 'ratio-females-3']

In [ ]:
final_three.to_csv('literacy-gender-c.csv')

In [ ]:
two_data['exactly_two_male'] = two_data['S_males'] - two_data['T_males']
two_data['exactly_two_female'] = two_data['S_females'] - two_data['T_females']

In [ ]:
two_data = two_data[['state','Area','Edu-level','exactly_two_male','exactly_two_female']].copy()

In [ ]:
two_data['male'] = tot_data['male'].to_list()

In [ ]:
two_data['female'] = tot_data['female'].to_list()

In [ ]:
two_male = two_data[['state','Area','Edu-level','exactly_two_male','male']].copy()
two_female = two_data[['state','Area','Edu-level','exactly_two_female','female']].copy()

In [ ]:
two_male['male-ratio-of-2'] = two_male['exactly_two_male']/two_male['male']
two_female['female-ratio-of-2'] = two_female['exactly_two_female']/two_female['female']

In [ ]:
two_male['max_column'] = two_male.groupby(['Area'])['male-ratio-of-2'].transform('max')
two_female['max_column'] = two_female.groupby(['Area'])['female-ratio-of-2'].transform('max')

In [ ]:
two_male = two_male[two_male['male-ratio-of-2'] == two_male['max_column']].copy()
two_female = two_female[two_female['female-ratio-of-2'] == two_female['max_column']].copy()

In [ ]:
two_male = two_male[['state','Area','Edu-level','male-ratio-of-2']].copy()
two_female = two_female[['state','Area','Edu-level','female-ratio-of-2']].copy()

In [ ]:
two_male = two_male.rename(columns={'state':'state/ut','Edu-level':'male-literacy-group',})
two_female = two_female.rename(columns={'state':'state/ut','Edu-level':'female-literacy-group',})

In [ ]:
final_two = pd.merge(two_male, two_female, on='Area', how='outer')

In [ ]:
final_two.pop('state/ut_y')

In [ ]:
final_two = final_two.rename(columns={'state/ut_x':'state/ut',})

In [ ]:
final_two.pop('Area')

In [ ]:
final_two.columns = ['state/ut','literacy-group-males', 'ratio-males-2','literacy-group-females', 'ratio-females-2']

In [ ]:
final_two.to_csv('literacy-gender-b.csv',index=False)

In [ ]:
one_data['male'] = tot_data['male'].to_list()
one_data['female'] = tot_data['female'].to_list()

In [ ]:
one_data['exactly_one_male'] = one_data['male'] - one_data['S_males']
one_data['exactly_one_female'] = one_data['female'] - one_data['S_females']

In [ ]:
one_data = one_data.drop(['S_males','S_females'],axis=1)

In [ ]:
one_data['male-ratio-of-1'] = one_data['exactly_one_male']/one_data['male']
one_data['female-ratio-of-1'] = one_data['exactly_one_female']/one_data['female']

In [ ]:
one_male = one_data[['state','Area','Edu-level','male-ratio-of-1']].copy()
one_female = one_data[['state','Area','Edu-level','female-ratio-of-1']].copy()

In [ ]:
one_male['max_column'] = one_male.groupby(['Area'])['male-ratio-of-1'].transform('max')
one_female['max_column'] = one_female.groupby(['Area'])['female-ratio-of-1'].transform('max')

In [ ]:
one_male = one_male[one_male['male-ratio-of-1'] == one_male['max_column']].copy()
one_female = one_female[one_female['female-ratio-of-1'] == one_female['max_column']].copy()

In [ ]:
one_male.pop('max_column')
one_female.pop('max_column')

In [ ]:
one_male = one_male.rename(columns={'Edu-level':'male-literacy-group'})
one_female = one_female.rename(columns={'Edu-level':'female-literacy-group'})

In [ ]:
final_one = pd.merge(one_male, one_female, on='Area', how='outer')

In [ ]:
final_one = final_one.drop(['Area','state_y'],axis=1)

In [ ]:
final_one = final_one.rename(columns={'state_x':'state/ut'})

In [ ]:
final_one.columns = ['state/ut','literacy-group-males', 'ratio-males-1','literacy-group-females', 'ratio-females-1']

In [ ]:
final_one.to_csv('literacy-gender-a.csv',index=False)