In [1]:
import pandas as pd
import numpy as np

In [2]:
d = pd.read_excel('DDW-0000C-08.xlsx')

In [3]:
d_col = ['table_name','state_code','dist_code','area_name','tot/urb/rur','age_group','tot_persons','tot_males','tot_females','illiterate_persons','illiterate_males','illiterate_females','literate_persons','literate_males','literate_females','literate_without_edu_level_persons','literate_without_edu_level_males','literate_without_edu_level_females','below_primary_persons','below_primary_males','below_primary_females','primary_persons','primary_males','primary_females','middle_persons','middle_males','middle_females','matric_persons','matric_males','matric_females','intermediate_persons','intermediate_males','intermediate_females','non_tech_diploma_persons','non_tech_diploma_males','non_tech_diploma_females','tech_diploma_persons','tech_diploma_males','tech_diploma_females','graduate_and_above_persons','graduate_and_above_males','graduate_and_above_females','unclassified_persons','unclassified_persons_males','unclassified_persons_females']

In [4]:
d.columns = d_col

In [5]:
d = d[6:]

In [6]:
d = d[['state_code','area_name','tot/urb/rur','illiterate_males','illiterate_females','literate_males','literate_females','literate_without_edu_level_males','literate_without_edu_level_females','below_primary_males','below_primary_females','primary_males','primary_females','middle_males','middle_females','matric_males','matric_females','intermediate_males','intermediate_females','non_tech_diploma_males','non_tech_diploma_females','tech_diploma_males','tech_diploma_females','graduate_and_above_males','graduate_and_above_females','unclassified_persons_males','unclassified_persons_females']].copy()

In [7]:
d = d[d['tot/urb/rur']=='Total'].copy()

In [8]:
d.head()

,state_code,area_name,tot/urb/rur,illiterate_males,illiterate_females,literate_males,literate_females,literate_without_edu_level_males,literate_without_edu_level_females,below_primary_males,...,intermediate_males,intermediate_females,non_tech_diploma_males,non_tech_diploma_females,tech_diploma_males,tech_diploma_females,graduate_and_above_males,graduate_and_above_females,unclassified_persons_males,unclassified_persons_females
6,00,INDIA,Total,188506636,258709529,434763622,328875190,19278416,15874815,78445099,...,46481321,31461272,726565,345724,5354161,1884558,42120460,26168511,1647116,1384454
7,00,INDIA,Total,85752254,78762999,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,00,INDIA,Total,3388683,3359531,9514681,8563745,248229,175976,9190737,...,0,0,0,0,0,0,0,0,75715,60750
9,00,INDIA,Total,2013742,2117672,12048195,10788764,202220,149060,11793414,...,0,0,0,0,0,0,0,0,52561,43963
10,00,INDIA,Total,1198339,1293565,11016646,9916088,167048,124233,9579169,...,0,0,0,0,0,0,0,0,38456,31996

In [9]:
d['total_literate_males'] = d['literate_males'] + d['unclassified_persons_males'] + d['literate_without_edu_level_males'] + d['illiterate_males']
d['total_literate_females'] = d['literate_females'] + d['unclassified_persons_females'] + d['literate_without_edu_level_females'] + d['illiterate_females']

In [10]:
d['total_matric_males'] = d['matric_males'] + d['intermediate_males']+ d['non_tech_diploma_males'] + d['tech_diploma_males']
d['total_matric_females'] = d['matric_females'] + d['intermediate_females']+ d['non_tech_diploma_females'] + d['tech_diploma_females']

In [11]:
data2 = pd.read_excel('DDW-C19-0000.xlsx')

In [12]:
new_col = ['state','District','Area','Total','Edu-level','S_persons','S_males','S_females','T_persons','T_males','T_females']

In [13]:
data2.columns = new_col

In [14]:
data2 = data2.iloc[5:]

In [15]:
new_data2 = data2.copy(deep=True)

In [16]:
new_data2 = new_data2[new_data2['Total']=='Total'].copy()

In [17]:
new_data2 = new_data2[new_data2['Edu-level']!='Total'].copy()

In [18]:
newData2 = pd.DataFrame(columns= ['state','District','Area','Total','Edu-level','S_persons','S_males','S_females','T_persons','T_males','T_females'])

In [19]:
names = new_data2['Area'].to_list()

In [20]:
names = set(names)

In [21]:
for state in names:
    test = new_data2[new_data2['Area'] == state].copy()
    lista = test[test['Edu-level']=='Illiterate'].values.flatten().tolist()
    listb = test[test['Edu-level']=='Literate'].values.flatten().tolist()
    final_list = [listb[0],listb[1],listb[2],listb[3],listb[4]]
    lista = lista[5:]
    listb = listb[5:]
    for i,j in zip(lista,listb):
        final_list.append(i+j)
    test[test['Edu-level'] == 'Literate'] = final_list
    test = test[test['Edu-level']!='Illiterate'].copy()
    c = pd.concat([newData2,test],ignore_index=True)
    newData2 = c.copy(deep=True)

In [22]:
newData2.sort_values("Area", axis = 0, ascending = True,inplace = True, na_position ='last')

In [23]:
new_data2 = newData2.copy(deep=True)

In [24]:
d.drop_duplicates(subset =["area_name"],keep = 'first', inplace = True)

In [25]:
three_data = new_data2[['state','Area','Edu-level','T_males','T_females']].copy()

In [26]:
two_data = new_data2.copy(deep=True)

In [27]:
one_data = new_data2[['state','Area','Edu-level','S_males','S_females']].copy()

In [28]:
d.reset_index(inplace=True)

In [29]:
d = d[['state_code', 'area_name','total_literate_males','total_literate_females','below_primary_males','below_primary_females', 'primary_males', 'primary_females','middle_males', 'middle_females','total_matric_males', 'total_matric_females','graduate_and_above_males','graduate_and_above_females', ]].copy()

In [30]:
col_list = ['state_code', 'area_name','literate males', 'literate females', 'literate but below primary males', 'literate but below primary females', 'primary but below middle males', 'primary but below middle females', 'middle but below matric/secondary males', 'middle but below matric/secondary females', 'matric/secondary but below graduate males', 'matric/secondary but below graduate females', 'graduate and above males', 'graduate and above females']

In [31]:
three_data.reset_index(inplace=True)

In [32]:
three_data.pop('index')

0      194
1      197
2      196
3      195
4      193
      ...
211     96
212     97
213     98
214     99
215    101
Name: index, Length: 216, dtype: int64

In [33]:
d.columns = col_list

In [34]:
the = d['area_name'].to_list()

In [35]:
for i in range(len(the)):
    change = the[i]
    change = change.replace("State - ", "")
    the[i] = change

In [36]:
d['area_name'] = the

In [37]:
d.sort_values("area_name", axis = 0, ascending = True,inplace = True, na_position ='last')

In [38]:
d['area_name'] = d['area_name'].str.lower()

In [39]:
three_data['male'] = np.repeat(0,216)
three_data['female'] = np.repeat(0,216)

In [40]:
three_data['Edu-level'] = three_data['Edu-level'].str.lower()
three_data['Area'] = three_data['Area'].str.lower()

In [41]:
def add_three(name,level,idx):
    df = (d[d['area_name']==name])
    text_male = level + ' males'
    text_female = level + ' females'
    three_data.at[index,'male'] = df[text_male].to_list()[0]
    three_data.at[index,'female'] = df[text_female].to_list()[0]

In [42]:
for index, row in three_data.iterrows():
    name = row['Area']
    level = row['Edu-level']
    add_three(name,level,index)

In [43]:
d.tail()

,state_code,area_name,literate males,literate females,literate but below primary males,literate but below primary females,primary but below middle males,primary but below middle females,middle but below matric/secondary males,middle but below matric/secondary females,matric/secondary but below graduate males,matric/secondary but below graduate females,graduate and above males,graduate and above females
33,33,tamil nadu,37424024,37209040,2861589,2767790,6479422,5845740,5087592,4520412,9206497,7124689,3119342,2338400
16,16,tripura,1953840,1890020,363853,361608,363404,335252,320040,272356,285987,194528,88621,49191
9,09,uttar pradesh,107982570,97691341,11763367,9661113,15505178,12293614,14276668,8846060,16809553,9460594,6378138,3541700
5,05,uttarakhand,5219343,5030100,554430,480153,803056,747518,806770,600101,1105814,709672,512068,398220
19,19,west bengal,47980118,45485498,8437465,7465147,7897027,7057564,6684464,5789837,6540090,4649369,3088673,1739144

In [44]:
tot_data = three_data[['male','female']].copy()

In [45]:
three_data['male_ratio'] = three_data['T_males']/three_data['male']
three_data['female_ratio'] = three_data['T_females']/three_data['female']

In [46]:
three_males = three_data[['state','Area','Edu-level','male_ratio']].copy()
three_females = three_data[['state','Area','Edu-level','female_ratio']].copy()

In [47]:
three_males['max_column'] = three_males.groupby(['Area'])['male_ratio'].transform('max')
three_females['max_column'] = three_females.groupby(['Area'])['female_ratio'].transform('max')

In [48]:
three_males = three_males[three_males['male_ratio'] == three_males['max_column']].copy()
three_females = three_females[three_females['female_ratio'] == three_females['max_column']].copy()

In [49]:
three_males.pop('max_column')
three_females.pop('max_column')

1      0.523678
10     0.362510
12     0.716931
18     0.600356
24     0.084491
33     0.705212
37     0.129118
47     0.548726
52     0.579392
58     0.804937
60     0.670003
71     0.196280
72     0.152457
82     0.337433
89     0.680314
92     0.217443
101    0.501979
105    0.353019
113    0.610190
119    0.117693
121    0.656895
126    0.621187
136    0.429673
142    0.209615
147    0.695980
150    0.247149
158    0.655997
167    0.204870
168    0.765537
178    0.086324
181    0.791838
190    0.145446
197    0.313940
202    0.069244
204    0.073002
215    0.244835
Name: max_column, dtype: float64

In [50]:
three_males.columns = ['state/ut','Area','literacy-group-males',' ratio-males-3']
three_females.columns = ['state/ut','Area','literacy-group-females',' ratio-females-3']

In [51]:
final_three = pd.merge(three_males, three_females, on='Area', how='outer')

In [52]:
final_three.pop('state/ut_y')
final_three.pop('Area')

0     andaman & nicobar islands
1                andhra pradesh
2             arunachal pradesh
3                         assam
4                         bihar
5                    chandigarh
6                  chhattisgarh
7          dadra & nagar haveli
8                   daman & diu
9                           goa
10                      gujarat
11                      haryana
12             himachal pradesh
13                        india
14              jammu & kashmir
15                    jharkhand
16                    karnataka
17                       kerala
18                  lakshadweep
19               madhya pradesh
20                  maharashtra
21                      manipur
22                    meghalaya
23                      mizoram
24                     nagaland
25                 nct of delhi
26                       odisha
27                   puducherry
28                       punjab
29                    rajasthan
30                       sikkim
31                   tamil nadu
32                      tripura
33                uttar pradesh
34                  uttarakhand
35                  west bengal
Name: Area, dtype: object

In [53]:
final_three = final_three.rename(columns={'state/ut_x':'state/ut'})

In [54]:
final_three.sort_values("state/ut", axis = 0, ascending = True,inplace = True, na_position ='last')

In [56]:
final_three.to_csv('literacy-gender-a.csv',index = False)

In [58]:
two_data['male-two'] = two_data['S_males'] - two_data['T_males']
two_data['female-two'] = two_data['S_females'] - two_data['T_females']

In [60]:
two_data = two_data[['state','Area','Edu-level','male-two','female-two']].copy()

In [61]:
two_data

,state,Area,Edu-level,male-two,female-two
194,35,ANDAMAN & NICOBAR ISLANDS,Primary but below middle,24655,19212
197,35,ANDAMAN & NICOBAR ISLANDS,Graduate and above,4563,3875
196,35,ANDAMAN & NICOBAR ISLANDS,Matric/Secondary but below graduate,22468,17719
195,35,ANDAMAN & NICOBAR ISLANDS,Middle but below matric/secondary,23422,17524
193,35,ANDAMAN & NICOBAR ISLANDS,Literate but below primary,13535,11154
...,...,...,...,...,...
96,19,WEST BENGAL,Literate,6992983,5151860
97,19,WEST BENGAL,Literate but below primary,887106,628227
98,19,WEST BENGAL,Primary but below middle,997715,692683
99,19,WEST BENGAL,Middle but below matric/secondary,1134412,737138
101,19,WEST BENGAL,Graduate and above,1089962,620108